<!DOCTYPE html>
<html>
  <head>
    <title>Koach</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <div class="wrapper">
        <h1><a href="/">KOACH</a></h1>
        <% if @current_user.present? %>
          <div>
            <ul>
              <li><%= link_to "your appointments", user_path(@current_user.id) %></li>
              <li><%= link_to "log out", logout_path %></li>
            </ul>
          </div>
        <% else %>
          <%= link_to "sign in with google", '/auth/google_oauth2' %>
        <%end  %>
      </div>
    </header>
    <% %w(error notice success).each do |type| %>
      <% if flash[type.to_sym].present? %>
        <div class="wrapper <%= type %>"><%= flash[type.to_sym] %></div>  
      <% end %>
    <% end %>
    <div id="app" class="wrapper">
      <%= yield %>
    </div>

    <footer>
      <div class="wrapper">
        made with 💜 by pam
      </div>
    </footer>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
